

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  box-sizing: border-box
}

/*^RESET^*/

:root {
  --main-orange: #EB9B2D;
  --main-black: #1F1F1F;
  --light-gray: #E6E6E6;
  --dark-gray: #8A8A8A;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Page containers*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100%;
  min-height: 100%;

  
}
.App {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 25%, rgba(255,255,255,1) 100%);
}

/* Typography */

h1 {
  font-size: 4rem;
  font-family: 'Patrick Hand', cursive;
  color: var(--main-orange);
}

p .main {
  font-size: 1.5rem;
  color: white;
  font-family: 'Patrick Hand', cursive;
}

em {
  color: var(--main-orange);
  font-size: 120%;
}

/* Sizing*/

.center {
  display: grid;
  place-items: center;
}


.landing-container {
  height: 100%;
  width: 100%;
  position: fixed;
  
}


.landing-text {
  margin-top: 5rem;
  height: 200px;
  grid-gap: 2em;
}

.nav__container {
 background-color: #1F1F1F;
 padding: 0 20%;
 position: relative;
 
}

.nav__right {
  
}

.nav__logo {
  margin: 0 3em;
  filter: invert(61%) sepia(95%) saturate(421%) hue-rotate(344deg) brightness(96%) contrast(92%);
}

.nav__item-mod {
  display: grid;
  place-items: center;
  padding: 5px 10px;
}

.nav__item-wrapper {
  display: grid;
  grid-template-columns: 1fr .6fr 1fr;
  place-items: center;
  height: 200px;
  
}

.nav__item {
  display: grid;
  place-items: center;
  padding: 5px 10px;
  max-width: 250px;
  height: 100px;
  text-decoration: none;
  
  border: 1px solid rgb(50, 50, 50);
  position: relative;
  overflow: hidden;
 
  
}

.nav__item a {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #fff;
  text-transform: uppercase;
}

.nav__item:hover {
  box-shadow: 1px 1px 15px 5px rgb(235,155,45);
  
}
.nav__logo:hover {
  width: 76px;
  height: 76px;
  filter: invert(97%) sepia(1%) saturate(328%) hue-rotate(214deg) brightness(118%) contrast(100%);
}




.nav__item:hover:before {
  left: 100%;
}

/* Videos page  */

.channel-page-container {

}

.channel-info {
  
}



.video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  grid-gap: 2em;
}


.hidden { 
  display: none; 
}