

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  box-sizing: border-box
}

/*^RESET^*/

:root {
  --main-orange: #EB9B2D;
  --main-black: #1F1F1F;
  --light-gray: #E6E6E6;
  --dark-gray: #8A8A8A;
  --white: #f0f0f0;
  --space: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* Page containers*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100%;
  
}
.App {
  text-align: center;
  
  margin: 0 auto;
  padding: 0;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 40%, rgba(255,255,255,1) 100%);
}

/* Typography */

h1 {
  font-size: 4rem;
  font-family: 'Patrick Hand', cursive;
  color: var(--main-orange);
}

h2 {
  font-size: 3rem;
  font-family: 'Patrick Hand', cursive;
  color: var(--main-orange);
  padding: 50px 50px 25px;
}

p .main {
  font-size: 1.5rem;
  color: white;
  font-family: 'Patrick Hand', cursive;
}

em {
  color: var(--main-orange);
  font-size: 120%;
}

/* Sizing*/

.center {
  display: grid;
  place-items: center;
}


.landing-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(255,255,255,1) 100%);
}


.landing-text {
  margin-top: 5rem;
  height: 200px;
  grid-gap: 2em;
}

.nav__container {
 background-color: #1F1F1F;
 padding: 0 20%;
 position: relative;
 
}

.nav__right {
  
}

.nav__logo {
  margin: 0 3em;
  filter: invert(61%) sepia(95%) saturate(421%) hue-rotate(344deg) brightness(96%) contrast(92%);
}

.nav__item-mod {
  display: grid;
  place-items: center;
  padding: 5px 10px;
}

.nav__item-wrapper {
  display: grid;
  grid-template-columns: 1fr .6fr 1fr;
  place-items: center;
  height: 200px;
  
}

.nav__item {
  display: grid;
  place-items: center;
  padding: 5px 10px;
  max-width: 250px;
  height: 100px;
  text-decoration: none;
  
  border: 1px solid rgb(50, 50, 50);
  position: relative;
  overflow: hidden;
 
  
}

.nav__item a {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #fff;
  text-transform: uppercase;
}

.nav__item:hover {
  box-shadow: 1px 1px 15px 5px rgb(235,155,45);
  
}
.nav__logo:hover {
  width: 76px;
  height: 76px;
  filter: invert(97%) sepia(1%) saturate(328%) hue-rotate(214deg) brightness(118%) contrast(100%);
}




.nav__item:hover:before {
  left: 100%;
}

a { 
  text-decoration: none;
 }

/* Videos page  */



.channel-page-container {

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  place-items: center;
  padding: 5rem .5rem;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 50%, rgba(255,255,255,1) 100%);

}

.btn-container {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

}

.channel-info-container {
  display: grid;
  grid-column: 2 /span 2;
  place-items: center;
  grid-template-columns: 1fr 200px 200px 1fr;
  height: 200px;
  grid-gap: 2rem;
}

.channel-info {
  background-color: var(--white);
  padding: 25px;
  border-radius: 25px;
  grid-column: 2 / span 1;
  min-width: 200px;
}

.channel-description {
  background-color: var(--main-orange);
  padding: 25px;
  border-radius: 25px;
}

.channel-info-container {
  text-align: center
}


.video-list-container {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.video-list-container > h2 {
  grid-column: 1 / -1;
}
.video-list {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.video {
  width: 600px;
  height: 400px;
  margin: 1rem;
  padding: 25px;
  background-color: var(--main-orange);
}




/* BUTTONS */

.btn {
  color: var(--main-orange);
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  background: var(--light-gray); 
  padding: 20px;
  border: 4px solid var(--light-gray);
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1rem;
  font-family: sans-serif;
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background: var(--main-orange);
  border-color: var(--main-orange);
  transition: all 0.4s ease 0s;
  outline: none;
}

.btn:focus {
  border-color: var(--light-gray);
}

.submit-container {
  grid-column: 1 / -1;
}
.btn-submit {
  width: 100%;
  background: var(--main-orange);
  border-color: var(--main-orange);
  color: white;
}

.btn-submit:hover {
  border-color: var(--light-gray);
}