@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  box-sizing: border-box
}

/*^RESET^*/

:root {
  --main-orange: #EB9B2D;
  --main-black: #1F1F1F;
  --light-gray: #E6E6E6;
  --dark-gray: #8A8A8A;
  --white: #f0f0f0;
  --space: 1rem;
  --title_font: 'Patrick Hand', cursive;
  --text_font: 'Andika New Basic', sans-serif;;
}


/* Page containers*/

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: var(--light-gray);
}

#root {
  width: 100vw;
  height: 100%;
  
}
.App {
  text-align: center;
  
  margin: 0 auto;
  padding: 0;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 40%, var(--light-gray) 100%);
}

/* Typography */

* {
  font-family: var(--text_font);
}

h1 {
  font-size: 3rem;
  font-family: var(--text_font);
  color: var(--main-orange);
}

h2 {
  font-size: 3rem;
  font-family: var(--text_font);
  color: var(--main-orange);
  padding: 50px 50px 25px;
}

.main {
  font-size: 1.5rem;
  color: var(--white);
  
}

em {
  color: var(--main-orange);
  font-size: 120%;
}

/* Sizing*/

.center {
  display: grid;
  place-items: center;
}


.landing-container {
  height: calc(100vh - 196px) ;
  width: 100%;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 0%, var(--light-gray) 100%);
}


.landing-text {
  margin: 0 auto;
  grid-gap: 2em;
  background: var(--main-black);
  max-width: 75%;
  padding: 2rem;
  box-shadow: 1px 1px 15px 5px rgb(235,155,45);
  
}

/* .landing-text > div {
  background-color: #000;
} */

.nav {
 background-color: #1F1F1F;
 
 }


.nav__logo {
  filter: invert(61%) sepia(95%) saturate(421%) hue-rotate(344deg) brightness(96%) contrast(92%);
}

.nav__item-mod {
  /* display: grid;
  place-items: center;
  padding: 5px 10px; */
}

.nav__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  padding: 3rem;
  margin: 0 10%;
}

.nav__item {
  display: grid;
  place-items: center;
  padding: 5px 10px;
  min-width: 120px;
  height: 100px;
  text-decoration: none;
  border: 1px solid rgb(235,155,45);
  
}

.nav__item-mod {
  margin: 0 3rem;
}

.nav__item a {
  font-size: 1rem;
  /* padding: 1rem 3rem; */
  color: #fff;
  text-transform: uppercase;
}

.nav__item:hover {
  box-shadow: 1px 1px 15px 5px rgb(235,155,45);
  
}
.nav__logo:hover {
  width: 76px;
  height: 76px;
  filter: invert(97%) sepia(1%) saturate(328%) hue-rotate(214deg) brightness(118%) contrast(100%);
}




.nav__item:hover:before {
  left: 100%;
}

a { 
  text-decoration: none;
 }

/* Videos page  */



.channel-page-container {

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  place-items: center;
  padding: 3rem .5rem;
  background: rgb(31,31,31);
  background: linear-gradient(180deg, rgba(31,31,31,1) 50%, var(--light-gray) 100%);

}

.btn-container {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

}

.channel-info-container {
  /* display: grid; */
  grid-column: 1 / -1;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 0;
}

.channel-info {
  background-color: var(--white);
  padding: 25px;
  border-radius: 25px;
  /* grid-column: 2 / span 1; */
  min-width: 200px;
  margin-bottom: 1rem;
}

.channel-description {
  background-color: var(--main-orange);
  padding: 25px;
  border-radius: 25px;
}


.video-list-container {
  grid-column: 1 / -1;
  
}

.video-list-container > h2 {
  
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.video {
  width: 600px;
  height: 400px;
  margin: 1rem;
  padding: 2em 2em 4em;
  border-radius: 5px;
  background-color: var(--main-orange);
}

.video > iframe {
  border-radius: 5px;
  
}
.video__title {
  font-size: 1rem;
  padding-bottom: 1em;
}

/* Playlists*/

.playlists {
  grid-column: 2 / span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlists-item {
  background-color: var(--main-orange);
  padding: 25px;
  margin: 1rem;
  border-radius: 5px;
}

.playlist-item__title {
  font-size: 1rem;
  padding: 0 1rem 1rem;
  font-family: var(--text_font);
}

.playlist-item__thumbnail {
  border-radius: 5px;
}

.playlist-item__thumbnail:hover {
  opacity: 0.5;
  cursor: pointer; 
  transition: opacity .2s;
}




/* .playlist-item__thumbnail:after {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    
} */




/* BUTTONS */

.btn {
  color: var(--main-orange);
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  background: var(--light-gray); 
  padding: 20px;
  border: 4px solid var(--light-gray);
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-size: 1rem;
  font-family: sans-serif;
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background: var(--main-orange);
  border-color: var(--main-orange);
  transition: all 0.4s ease 0s;
  outline: none;
}

.btn:focus {
  border-color: var(--light-gray);
}

.submit-container {
  grid-column: 1 / -1;
}
.btn-submit {
  width: 100%;
  background: var(--main-orange);
  border-color: var(--main-orange);
  color: white;
}

.btn-submit:hover {
  border-color: var(--light-gray);
}


@media only screen and (max-width: 600px) {
  .video-list-container, .daily-container > .video {
    width: 100vw;
    margin: 0;
  }
  h2 {
    padding: 0;
    font-size: 2rem;
    margin: 1rem;
  }

 .nav__item-mod {
    margin: 1rem;
  }

  

  .nav__item-wrapper {
    padding: 2rem 0;
  }

  .btn-container {
    grid-gap: 0.5rem;
  }

  .btn {
    padding-left: 0;
    padding-right: 0;
  }

  .channel-info-container {
    
  }
}



@media only screen and (min-width: 600px) {
  .landing-container {
    padding-top: 5rem;
  }

  .landing-text {
    padding: 5rem;
  }
}